/**
 * Content wrapper, sets content width
 */
.content-wrapper {
  width: $content-width;
  margin: $spacing-unit auto;
  padding: 0 $spacing-unit;

  @include media-query($on-laptop) {
    margin: $spacing-unit;
    padding: 0;
    width: auto;
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  display: flex;
  align-items: center;
  padding: 15px;

  .site-title {
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 0;
    flex: 1 1 auto;

    &,
    &:visited {
      color: $grey-color-dark;
    }
  }

  .site-nav {
    .page-link {
      color: $text-color;
      line-height: $base-line-height;
      padding: 10px;
    }
  }

  @include media-query($on-palm) {
    display: block;
    text-align: center;

    .site-nav {
      display: flex;
      > * {
        flex: 1 1 1px;
        text-align: center;
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit;
}

.footer-cols {
  display: flex;

  @include media-query($on-palm) {
    display: block;
    padding: 0 $spacing-unit;
  }

  .footer-col-left {
    flex: 0 0 30%;
    margin-right: $spacing-unit;

    @include media-query($on-palm) {
      margin-right: 0;
    }

    ul {
      list-style: none;
      margin-left: 0;
    }
  }

  .footer-col-right {
    flex: 1 1 1px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 2 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

h1 {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
