---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <span class="post-meta-date">
        {{ page.date | date: "%b %-d, %Y" }}
      </span>

      <span class="post-meta-tags">
      {% for tag in page.tags %}
        {% if forloop.first %}&mdash; {% endif %}{{tag}}{% unless forloop.last %},{% endunless %}
      {% endfor %}
      </span>

    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
