.project-list {
  margin: 1em;

  .project {
    padding-top: 2em;

    .uses-logo {
      height: 1em;
      width: 1em;
      display: inline-block;
    }
  }

  .project-header {
    display: flex;
    align-items: center;
    margin: 0 0 1.5em;

    .project-header-left {
      flex: 1 1 1px;
    }

    h2 {
      margin: 0.15em 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .project-header-right {
      flex: 0 0 auto;
      font-size: 1.5em;
      padding: 5px;

      a {
        color: $light-gray-color;

        &:hover {
          color: $medium-gray-color;
        }
      }
    }
  }
}
