---
layout: page
title: Projects
---

<p>
  Some people like to work on tons and tons of things at the same time; I am not one of those people. This is the little list of things that I work on one at a time.
</p>

<div class="project-list">
  {% assign projects = site.projects | sort:"order" %}
  {% for project in projects %}
    <div class="project">
      <div class="project-header">
        <div class="project-header-left">
          <h2>
            {% if project.logo %}
              <img src="{{ project.logo | asset_path }}" alt="{{project.title}}">
            {% else %}
              {{ project.title }}
            {% endif %}
          </h2>

          <div class="project-uses">
          {% for used in project.uses %}
            <i class="logo-{{used}}"></i>
          {% endfor %}
          </div>
        </div>

        <aside class="project-header-right">
          {% if project.repo %}
            <a href="{{project.repo}}" class="repo" alt="repo url"><i class="fa fa-github"></i></a>
          {% endif %}

          {% if project.url %}
            <a href="{{project.repo}}" class="info" alt="additional info"><i class="fa fa-info-circle"></i></a>
          {% endif %}
        </aside>
      </div>

      <div>
        {{ project.output | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>